a {
    text-decoration: none;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 96px;
    font-weight: 700;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;

}

h3 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 0 auto;
    text-transform: uppercase;
}

header h1, h2, h3 {
    color: rgba(255, 255, 255, 1);
}

header {
    text-align: center;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.2)), url(/images/boston-skyline.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    max-width: 100%;
    padding: 200px 0;
   
}

footer {
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url(/images/boston-skyline-footer.png);
    background-repeat: no-repeat; 
    background-size: cover;
    max-width: 1600px;
    padding: 100px;
    color: white
}

footer h5 {
    font-size: 20px;
    font-weight: 700;
}

footer p, a {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

footer a {
    text-decoration: underline 1px;
}

footer a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

.card {
    background: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 40px 0px rgba(198, 198, 198, 0.2);
    margin-top: 50px;
}

.embed {
    width: 100%;
    aspect-ratio: 16/ 9;
}

.card-content {
    padding: 24px 32px 24px 32px;
}

.section-one {
    padding: 100px;
}

.section-one h2 {
    color: rgba(39, 32, 68, 1);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.section-one h3 {
    color: rgba(39, 32, 68, 0.3);
    font-size: 16px;
    font-weight: 700;
}

.section-one p, .section-two p {
    color: rgba(39, 32, 68, 0.7);
    font-size: 16px;
}

.section-two {
    background: rgba(248, 248, 248, 1);
    padding: 100px;
}

.section-two h2, .section-three h2 {
    color: rgba(39, 32, 68, 1);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.section-two h3, .section-three h3 {
    color: rgba(39, 32, 68, 0.3);
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.section-two h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.section-two h5 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0;
}

.section-three {
    padding-top: 100px;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.three-col-grid-first-narrow {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 64px;
}

.three-col-equal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.three-col-two-row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    margin: 30px;
}

.img-links {
    max-width: 100%;
    aspect-ratio: 1 / 1;    
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow: auto;
}

.img-links:hover {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    padding-top: 20px auto;
}

.img-one {
    background-image: url(/images/bleacher-bar.png);
    aspect-ratio: 1 / 1;    
    background-repeat: no-repeat; 
    background-size: cover; 
}

.img-one:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/bleacher-bar.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-two {
    background-image: url(/images/la-familia-giorgios.png);
}

.img-two:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/la-familia-giorgios.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-three {
    background-image: url(/images/yvonnes.png);
}

.img-three:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/yvonnes.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-four {
    background-image: url(/images/bagelsaurus.png);
}

.img-four:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/bagelsaurus.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-five {
    background-image: url(/images/tatte.png);
}

.img-five:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/tatte.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-six {
    background-image: url(/images/legal-harborside.png);
}

.img-six:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/legal-harborside.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-text {
    padding: 50px;
    opacity: 0;
    max-width: 100%;
    aspect-ratio: 1 / 1;    
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center;   
}

.img-text:hover {
    background-size: cover; 
    display: block;
    padding: 50px;
    opacity: 1;
    max-width: 100%;
}

.img-text a {
    font-size: 44px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.img-text a:hover {
    font-size: 44px;
    font-weight: 400;
    color: white;
    text-decoration: underline 1px;
}

.img-text p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.primary-btn {
    background: rgba(70, 44, 178, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 16px 32px 16px 32px;
    max-width: 250px;
}

.primary-btn:hover {
    background: rgba(39, 32, 68, 1);
    color: rgba(255, 255, 255, 1);
}

.secondary-btn {
    background: rgba(255, 255, 255, 1);
    color: rgba(39, 32, 68, 1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 16px 32px 16px 32px;
    text-transform: uppercase;
}

.secondary-btn:hover {
    background: rgba(39, 32, 68, 1);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
    header {
        padding: 200px 0;
        width: 100%;
    }
    header h1 {
        font-size: 46px;
    }
    header h2 {
        font-size: 24px;
    }
    header h3 {
        font-size: 16px;
    }
    .grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .three-col-two-row-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-one, .section-three {
        padding: 50px;
        padding-top: 100px;
    }

    .section-one img {
        max-width: 75%;
    }
    .img-text a, .img-text a:hover {
        font-size: 32px;
    }
   .img-text p, .img-text p:hover {
    font-size: 12px;
}
}

@media (max-width: 900px) {
    .img-text {
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
        padding: 10px;
    }

    .img-text p {
        display: none;
    }

    .img-text a, .img-text a:hover {
        font-size: 22px;
       
    }
    
    .img-text:hover {
        background-color: rgba(0, 0, 0, 0);
        padding: 10px;
    }
}
